.chatbot-popup {
    max-height: 80%;
    position: fixed;
    display: none;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    width: 300px; /* Adjust width as needed */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-family: "Arial", sans-serif;
}

.chatbot-popup h2{
    font-size: 16px!important;
    font-weight: bold !important;
}

.chatbot-header {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.chat-message {
    max-width: 90%;
    border-radius: 10px;
    padding: 0px 4px;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

.chat-message .message-name {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.bot-message {
    justify-content: flex-start;
}

.bot-message .message-content {
    background-color: #007396; /* Adjust color as needed */
    color: #fff; /* Adjust color as needed */
}

.user-message {
    justify-content: flex-end;
}

.user-message .message-content {
    background-color: #4a90e2; /* Adjust color as needed */
    color: #fff; /* Adjust color as needed */
}

.message-content {
    border-radius: 10px;
    padding: 8px 12px;
}

.profile-picture {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    border-radius: 50%;
    position: absolute;
    top: -10px; /* Adjust top position to align with top of message bubble */
    left: -10px;
    z-index: 1; /* Ensure the picture is above the text */
}

.message-text {
    max-width: 100%;
    position: relative; /* Ensure proper positioning */
    padding-top: 20px; /* Adjust padding to make space for the profile picture */
    word-wrap: break-word;
}

.bot-message .message-content {
    position: relative; /* Ensure proper positioning */
}

.message-name {
    font-weight: bold;
}

.bot-message .message-text a {
    color: #bdffed; /* Set link color to a different color, like orange */
    text-decoration: underline; /* Add underline for better visibility */
}
.close-btn {
    position: absolute;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    top: 10px;
    left:10px;
    padding: 0; /* Remove default padding */
    width: 30px; /* Set width to match the cross */
    height: 30px; /* Set height to match the cross */
    line-height: 1; /* Ensure proper alignment */
}

.close-btn .bubble {
    position: absolute;
    top: 50%; /* Adjust position to center the circle vertically */
    right: 50%; /* Adjust position to center the circle horizontally */
    transform: translate(50%, -50%); /* Center the circle relative to its parent */
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-icon {
    color: #fff; /* White color */
    position: relative; /* Ensure proper stacking context */
    z-index: 1; /* Set higher than the bubble */
}

/* Add pulsing animation to reopen button */
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 115, 150, 0.7);
    }
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 10px rgba(0, 115, 150, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 115, 150, 0);
    }
}

.reopen-btn {
    position: fixed;
    width: 70px;
    min-width: min-content;
    height: 70px;
    min-height: min-content;
    bottom: 20px; 
    right: 20px; 
    font-size: 30px;
    background-color: #026b8b; 
    color: #fff; 
    border: none;
    padding: 10px;
    border-radius: 50%; /* Make the button circular */
    cursor: pointer;
    z-index: 1001; /* Ensure the button is above the chatbot popup */
    animation: pulse 2s infinite; /* Apply pulsing animation */
}

.reopen-btn:hover {
    background-color: #01a6d8;
    animation: none; /* Stop the animation on hover */
}

.dot-flashing {
    margin-right: 10px;
    margin-left: 10px;
}

.conversation-container {
    max-height: 64vh; 
    overflow-y: auto;
    padding: 10px;
    flex:1;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.input-container textarea,
.input-container button {
    padding: 18px 10px;
    margin-right: 5px;
}

.input-container textarea {
    flex: 1;
    overflow-y: hidden; 
    height: 60px; 
    resize: none;
    box-sizing: border-box;
}

.input-container button {
    background-color: #007396;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #01a6d8;
}


/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
 .dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #dfd7ff;
    color: #a9a4bc;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
  }
  .dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ffffff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }
  .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ffffff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dot-flashing {
    0% {
      background-color: #ffffff;
    }
    50%, 100% {
      background-color: rgba(172, 171, 171, 0.2);
    }
  }
  